body
{
	background: orangered;
}

	.login_div1 , .login_div2
	{
		background: rgb(3, 8, 71);
		padding: 10px;
		float: none;
		border-radius: 15px;
        color: springgreen;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}